{% extends 'base/base.html' %}

{% block main_content %}


<div class="mdl-grid" style="min-height: 85%;">

    <style>
        h6 {
            padding: 16px;
            margin-bottom: 0px;
            margin-top: 0px;
        }
    </style>

    <div class="mdl-cell mdl-cell--8-col center">

        <div class="mdl-grid mdl-color--indigo-500 mdl-color-text--white mdl-shadow--4dp center" style="margin-bottom: 16px; padding: 16px; background-color: #EEEEEE;">

            <div class="mdl-cell mdl-cell--8-col">
                <h3>All of your scheduled appointments</h3>
            </div>

            <div class="mdl-cell mdl-cell--4-col" style="padding-top: 16px;">

                <div style="margin-bottom: 16px;"><a href="{% url 'schedule' %}"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Add new Appointment</button></a></div>

                <div><a href="{% url 'index' %}"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Home Page</button></a></div>

            </div>

        </div>


        {% for internship in internships %}

        <div class="change-background mdl-color--white mdl-shadow--4dp">

            <h6 style="padding: 8px;" class="mdl-color--blue mdl-color-text--white">
                <div style="display: inline-block; width: 95%;"><i class="material-icons" style="color: white; font-size: 24px; margin-right: 8px;">work</i>{{ internship.internship_name }}</div>
                <div style="display: inline-block; width: 3%;"><a href="internships/delete/{{ internship.id }}"><i class="material-icons" style="color: white; font-size: 36px;">delete_forever</i></a></div>
            </h6>


            <h6><i class="material-icons" style="font-size: 24px; margin-right: 8px;">place</i>{{ internship.company_name }}</h6>
            <h6><i class="material-icons" style="font-size: 24px; margin-right: 8px;">calendar_today</i>{{ internship.date_posted }}</h6>
            
            <span></span>
            <div>
                <a href="http://{{ internship.url }}" target="_blank">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-color--blue mdl-color-text--white">
                        <i class="material-icons" style="margin-right: 8px;">launch</i>Launch website
                    </button>
                </a>
            </div>

            <hr />

        </div>


        {% endfor %}

    </div>

</div>


{% endblock %}



