{% extends 'base/layout.html' %}
{% load staticfiles %}

{% block content %}

<div class="mdl-grid" style="min-height: 80%; padding-top: 32px;">

    <div class="mdl-color--white mdl-cell mdl-cell--6-col mdl-shadow--4dp center" style="padding: 16px;">

        <h4>Password Successfully Reset!</h4>
        <p>
            Congratulations! You have successfully reset your password your password.
        </p>
        <p><a style="margin-top: 16px; width: 200px;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{% url 'login' %}"><i class="material-icons" style="margin-right: 8px;">account_box</i>Login</a></p>

    </div>
</div>


{% endblock %}
