{% extends 'base/layout.html' %}
{% load staticfiles %}

{% block content %}

<div class="mdl-grid" style="min-height: 80%; padding-top: 32px;">

    <div class="mdl-color--white mdl-cell mdl-cell--6-col mdl-shadow--4dp center" style="padding: 16px;">

        {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label>
                    </td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label>
                    </td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
            </table>
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Change my password" />
        </form>

        <div style="margin-top: 16px;">
            <a href="{% url 'login' %}"><button h class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="button">Login</button></a>
        </div>
        {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}

        {% if user.is_authenticated %}
        <p><a style="margin-top: 16px;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{% url 'index' %}">Go To Home</a></p>
        {% endif %}
    </div>
</div>


{% endblock %}
