{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}Reset Password{% endblock %}

{% block main_content %}

<div class="mdl-grid" style="min-height: 80%; padding-top: 32px;">

    <div class="mdl-color--white mdl-cell mdl-cell--8-col mdl-shadow--4dp center" style="padding: 16px;">


        <h1>The password has been changed!</h1>
        <p><a href="{% url 'login' %}">log in again?</a></p>
        <p><a style="margin-top: 16px;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{% url 'index' %}">Go To Home</a></p>


    </div>
</div>


{% endblock %}
