{% extends 'base/layout.html' %}
{% load staticfiles %}

{% block content %}

<div class="mdl-grid" style="min-height: 80%; padding-top: 32px;">

    <div class="mdl-color--white mdl-cell mdl-cell--6-col mdl-shadow--4dp center" style="padding: 16px;">

        <h2><i class="material-icons" style="margin-right: 8px; font-size: 24px; color: deepskyblue;">person_add</i>Sign up</h2>
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button style="width: 200px;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit"><i class="material-icons" style="margin-right: 8px;">person_add</i>Sign Up</button>
        </form>

        <div style="margin-top: 16px;">

            <p><a href="{% url 'login' %}">Already Have An Account? Login.</a></p>

            {% if user.is_authenticated %}
            <p><a href="{% url 'index' %}">Go to Home Page</a></p>
            {% endif %}
        </div>


    </div>
</div>


{% endblock %}
