{% extends 'base/base.html' %}

{% block main_content %}


<div class="mdl-grid" style="min-height: 85%;">

    <style>
        h6 {
            padding: 16px;
            margin-bottom: 0px;
            margin-top: 0px;
        }
    </style>

    <div class="mdl-cell mdl-cell--8-col mdl-color--purple-100 mdl-cell--2-offset mdl-shadow--4dp">

        <div class="mdl-grid change-background" style="padding: 16px; background-color: #EEEEEE;">

            <div class="mdl-cell mdl-cell--6-col">
                <h3>Internships</h3>
            </div>

            <div class="mdl-cell mdl-cell--4-col mdl-cell--2-offset" style="padding-top: 16px;">

                <a href="{% url 'internships' %}"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--purple mdl-color-text--white">Add new</button></a>

                <a href="{% url 'index' %}"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--purple mdl-color-text--white">Home Page</button></a>

            </div>

        </div>


        {% for internship in internships %}

        <div class="change-background" style="padding: 8px">
            <hr />

            <table>
                
                <tr>
                    <td>
                        <h6 class="label">Internship Name</h6>
                    </td>
                    <td>
                        <h6>{{ internship.internship_name }}</h6>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h6 class="label">Company Name</h6>
                    </td>
                    <td>
                        <h6>{{ internship.company_name }}</h6>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h6 class="label">URL</h6>
                    </td>
                    <td>
                        <a href="https://{{ internship.url }}" target="_blank">
                            <span class="mdl-chip mdl-chip--contact">
                                <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white"><i class="material-icons">launch</i></span>
                                <span style="margin-right: 16px;" class="mdl-chip__text">{{ internship.url }}</span>
                            </span>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <h6>Date Posted</h6>
                    </td>
                    <td>
                        <h6>{{ internship.date_posted }}</h6>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <a style="margin-top: 16px;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--purple mdl-color-text--white" href="internships/delete/{{ internship.id }}">Delete</a>
                    </td>
                </tr>

            </table>

            <hr/>
         
        </div>
        

        {% endfor %}

    </div>

</div>


{% endblock %}



