{% extends 'base/base.html' %}

{% block main_content %}



<div class="mdl-grid" style="min-height: 80%;">

    <div class="mdl-cell mdl-cell--6-col mdl-color--white mdl-shadow--4dp" style="margin-right: auto; margin-left: auto;">

        <h3 style="top: 0px; padding: 8px;"><i class="material-icons" style="font-size: 36px; margin-right: 8px;">event</i>Add an Internship</h3>

        <div style="padding: 16px;">
            <form method="POST" action="{% url 'internships' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Submit" />
            </form>


            <div style="padding-top: 32px;">

                <h5>Internships</h5>

                <a href="{% url 'all_internships' %}"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">View All Internships</button></a>

                <a href="{% url 'index' %}" style="margin-left: 32px;"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Home Page</button></a>
            </div>


        </div>

    </div>

</div>


{% endblock %}

