{% extends 'base/base.html' %}
{% load staticfiles %}

{% block main_content %}

<script>
    var STATUS = "{{ request.session.status }}";   
</script>

<link rel="stylesheet" href="{% static 'css/calendar-styles.css' %}" />

<div class="mdl-grid" style="min-height: 85%;">

    <style>
        h6 {
            padding: 16px;
            margin-bottom: 0px;
            margin-top: 0px;
        }
    </style>

    <div class="mdl-cell mdl-cell--8-col center">

        <div id="title-header"></div>
        <script src="{% static 'script/layouts/headers/header.js' %}"></script>

        <div style="margin-bottom: 32px;" id="calendar"></div>
        <script src="{% static 'script/calendar.js' %}"></script>

        <div id="appointment-container"></div>

    </div>

</div>

<script src="{% static 'script/all_time_slots.js' %}"></script>
<script src="{% static 'script/all_appointments.js' %}"></script>

<script>
{% for a in appointments %}
   
        var slot = new Slot("{{ a.date }}", "{{ a.start_time }}", "{{ a.end_time }}", "{{ a.id }}");
        slots.push(slot);
        slotsMap.set(slot.id, slot);
        console.log("Slot ------ ------ ------ " + slot.id + "    " + slot.date + "    " + slot.startTime + "    " + slot.endTime);
        var email_contact = {% if request.session.status == "professor" %}"{{ a.user_email }}"{% endif %}{% if request.session.status == "student" %}"{{ a.professor_email }}"{% endif %};
        var title = {% if request.session.status == "professor" %}"{{ a.user_name }}"{% endif %}{% if request.session.status == "student" %}"{{ a.professor_name }}"{% endif %};
        var appointment = new Appointment(slot, email_contact, title);
        all_appointments.set(slot.id, appointment);
{% endfor %}
    setHeader("All Appointments", "/all_timeslots/", "add", "New");
    handleSlots();
</script>


{% endblock %}



