{% extends 'base/base.html' %}
{% load staticfiles %}

{% block main_content %}


<script>
    var csrfToken = "{{csrf_token}}";
    var PROFESSOR_EMAIL = "{{ professor_email }}";
    var STATUS = "{{ request.session.status }}";
</script>


<div class="mdl-grid" style="min-height: 85%;">

    <style>
        h6 {
            padding: 16px;
            margin-bottom: 0px;
            margin-top: 0px;
        }
    </style>

    <div class="mdl-cell mdl-cell--8-col center">

        <div id="title-header"></div>
        <script src="{% static 'script/layouts/headers/header.js' %}"></script>

        <div id="calendar"></div>

        <script src="{% static 'script/calendar.js' %}"></script>

        <div style="margin-top: 32px;" id="root"></div>

        <script src="{% static 'script/all_time_slots.js' %}" ></script>

         <script>
            {% for timeslot in timeslots %}
       
                slot = new Slot("{{ timeslot.date }}", "{{ timeslot.start_time }}", "{{ timeslot.end_time }}", "{{ timeslot.id }}");
                slots.push(slot);
                slotsMap.set(slot.id, slot);
            {% endfor %}
            setHeader("All Timeslots", "/timeslots/", "add", "New");
            handleSlots();
        </script>

    </div>

</div>
<link rel="stylesheet" href="{% static 'css/calendar-styles.css' %}" />

{% endblock %}