{% extends 'base/root_layout.html' %}
{% load staticfiles %}

{% block drawer %}

<div class="mdl-layout__drawer mdl-color--primary" style="height: 100%; overflow-x: hidden;">

    <nav class="mdl-navigation mdl-color--primary-600" style="list-style: none; height: 100%; width: 100%; color: white; padding-top: 0px;">

        <header class="mdl-color--indigo-700" style="height: 150px; width: 100%; margin-bottom: 24px; cursor: pointer;">

            <div onclick='window.location.href = "/profile/";' style="padding: 8px; height: 88px; width: 100%; height: 100%;">

                <div style="text-align: right;"><a href="{% url 'profile' %}" style="color: white;"><button class="mdl-button mdl-js-button mdl-button--accent mdl-color-text--white" style="right: 0px; margin-right: 8px;">View Profile</button></a></div>

                <div style="margin-top: 64px;">Hi {{ user.get_username }} </div>

            </div>

        </header>

        <div id="drawer-links-container"></div>

        <a class="nav-link" href="{% url 'all_timeslots' %}">
            <div><i class="drawer-icons material-icons mdl-color-text--white">assessment</i><span class="drawer-text">Timeslots</span></div>
        </a>

        <div class="nav-sub-link">
            <a class="nav-link-2" href="{% url 'all_timeslots' %}"><li class="mdl-color-text--white"><i class="material-icons" style="margin-right: 8px;">list</i>View All</li></a>
            {% if request.session.status == "professor" %}<a class="nav-link-2" style="padding-top: 8px;" href="{% url 'timeslots' %}"><li class="mdl-color-text--white"><i class="material-icons" style="margin-right: 8px;">add</i>Add</li></a>{% endif %}
        </div>

        <a class="nav-link" href="{% url 'index' %}">
            <div><i class="drawer-icons material-icons mdl-color-text--white">assessment</i><span class="drawer-text">Appointments</span></div>
        </a>

        <div class="nav-sub-link">
            <a class="nav-link-2" href="{% url 'all_appointments' %}"><li class="mdl-color-text--white"><i class="material-icons" style="margin-right: 8px;">list</i>View All</li></a>
            {% if request.session.status == "student" %}<a class="nav-link-2" style="padding-top: 8px;" href="{% url 'appointments' %}"><li class="mdl-color-text--white"><i class="material-icons" style="margin-right: 8px;">add</i>Add</li></a>{% endif %}
        </div>

        <div class="mdl-layout-spacer"></div>

        <a class="nav-link" href="/suggestions/" style="bottom: 0px;">
            <div><i class="drawer-icons material-icons mdl-color-text--white">donut_small</i><span class="drawer-text">Suggestion</span></div>

        </a>

    </nav>

</div>

<style>
    .nav-link, .nav-sub-link {
        color: white;
    }

    .nav-link {
        margin-left: 24px;
        padding: 8px 8px 16px 24px;
    }

    .nav-sub-link {
        padding: 8px 4px 8px 64px;
    }

    .nav-link-2 {
        padding: 4px;
        display: block;
    }

        .nav-link-2:hover {
            background-color: black;
        }

    .nav-link:hover {
        background-color: black;
    }

    .mdl-navigation__link:hover {
        background-color: black;
    }
</style>

{% endblock %}