{% extends 'base/base.html' %}

{% block title %}Contact{% endblock %}


{% block main_content %}
<div class="mdl-grid">

    <div class="mdl-cell mdl-cell--10-col center">

        <h3>Computer Science.</h3>
        <a href="https://webservices.ulm.edu/flightpath/tools/course-search/courses?subject_id=CSCI&mode=" target="_blank">View in ULM's site<i class="material-icons" style="margin-left: 8px;">launch</i></a>
        <ul>
            <li>
                <h5>CS 2000</h5>
                <p>
                    Introduction to Programming.<br />
                    This course is an introduction to algorithms and programming, paying attention to the basic design, implementation,
                    and testing of solutions to numerical and non-numerical problems.
                </p>
            </li>

            <li>
                <h5>CS 2003</h5>
                <p>
                    Intermediate Programming.<br />
                    This course is a continuation of CSCI 2000, with increased emphasis on program design
                    including structured and object oriented techniques, data structures, and algorithms.
                </p>
            </li>

            <li>
                <h5>CS 2026</h5>
                <p>
                    Discrete Structures.<br />
                    Discrete Structures is an introduction to discrete mathematical structures with applications to Computer Science.
                    Topics include: logic, proof techniques, set theory, combinatorics, and functions.
                </p>
            </li>

            <li>
                <h5>CS 3026</h5>
                <p>
                    Advanced Discrete Structures.<br />
                    Advanced Discrete Structures is a study of advanced topics from discrete mathematics, with special emphasis to applications in computer science.
                    Topics include: efficiency of algorithms, recurrence relations, number theory, mathematical induction, relations, and graph theory.
                </p>
            </li>

            <li>
                <h5>CS 2073</h5>
                <p>
                    Data Structures.<br />
                    Data Structures is an introduction to classic elementary data structures that builds on object-oriented concepts
                    such as abstraction and inheritance. Topics include lists, stacks, queues, trees, graphs, sets, and maps.
                </p>
            </li>

            <li>
                <h5>CS 2053</h5>
                <p>
                    Assembly level Programming and Architecture.<br />
                    Assembly Level Programming and Architecture contains basic logic, data representations, number systems,introduction to computer organization, and assembly language programming.
                </p>
            </li>
        </ul>

        <h3>Maths</h3>
        <a href="https://webservices.ulm.edu/flightpath/tools/course-search/courses?subject_id=MATH&mode=" target="_blank">View in ULM's site<i class="material-icons" style="margin-left: 8px;">launch</i></a>
        <ul>

            <li>
                <h5>Math 1031</h5>
                <p>
                    Calculus 1.<br />
                    Limits and continuity of functions; introduction of the derivative; techniques of differentiation;
                    Chain rule; implicit differentiation; differentiation of transcendental and inverse functions;
                    applications of differentiation: concavity; relative extrema; maximum and minimum values of a function;
                    optimization; antidifferentiation; definite integrals; Fundamental Theorem of Calculus; areas;
                    applications of definite integrals;
                </p>
            </li>

            <li>
                <h5>Math 2002</h5>
                <p>
                    Linear Algebra.<br />
                    An introduction to the application of matrix algebra. Emphasis on the application of procedures and algorithms.
                </p>
            </li>

            <li>
                <h5>Math 3003</h5>
                <p>
                    Statistics and Probability.<br />
                    Random variables, probability, distribution functions, mathematical models, testing hypotheses,
                    frequency distributions, correlations, regression, goodness of fit, derived distributions, non-parametric methods.
                </p>
            </li>

        </ul>


        <h3>Physics</h3>
        <a href="https://webservices.ulm.edu/flightpath/tools/course-search/courses?subject_id=PHYS&mode=" target="_blank">View in ULM's site<i class="material-icons" style="margin-left: 8px;">launch</i></a>
        <ul>

            <li>
                <h5>Physics 2003</h5>
                <p>
                    Trigonometry-based physics class that involves the principles and laws of kinematics, forces, energy, momentum,
                    linear and rotation motion, and statics. Selected topics may include fluids, vibrations, sound, kinetic theory, and heat.
                </p>
            </li>

            <li>
                <h5>Physics 2004</h5>
                <p>
                    Trigonometry-based physics class that involves the principles and laws of electricity, magnetism.
                    Selected topics may include light, electromagnetic wages, radiation, and modern physics.
                </p>
            </li>

        </ul>


        <h3>Others</h3>

        <ul>

            <li>Sociology 1001</li>

        </ul>

    </div>

</div>


{% endblock %}

