{% extends 'base/base.html' %}

{% block main_content %}

<div class="mdl-grid">

    <div class="mdl-cell mdl-cell--10-col center">

        <h3>Legal</h3>

        <p>
            There are a lot of ways our app could be used and so there is a lot of associated data, some of which we or our third party service retain.
        </p>


        <p>
            We try to keep the data secure and the same can be said of the third party services like Firebase, google play services and any other third party service we use.
            But somethimes there may be situations in which there is leakage of data, for which we hold no responsibility.
            We cannot be held responsible for any kind of problem, whatever the cause, that our Pet app creates.

        </p>

        <p>
            In our app, you can store images and files too. Some parts of this storage is managed or implemented by third party services, so it is wise to not store anything that may
            require high level of privacy or even somewhat privacy in our app.

        </p>

        <p>
            When you upload a file of any kind, even images or photos, or even take pictures or select images through our app, it is stored in the cache of your device before it is uploaded to the cloud storage.
            The cached files are periodically deleted to free up storage.
        </p>


        <p>
            Some bug or even any other kind of mistake can cause any of the files to be deleted prematurely, or in time that may be unfavorable to you. So, please do not store any important material in our app.
        </p>

        <p>
            We cannot be held responsible in any way for any problem that is caused by or is related to our Pet app in any way.
            Please note that our Pet app is a very social app that has limited privacy protection that may fail due to some errors that we may or may not be aware of.
        </p>


        <p>
            We use Ad Sense to display ads that may be relevant to you.
            We or our third party service store some of your data to display more personalized ads to you.
            Please read our privacy policy.
            We cannot be held responsible for problems caused or related to leakage of your personal data.
        </p>

    </div>

</div>

{% endblock %}